<ion-nav [root]="root"></ion-nav>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title translate>USER.TITLE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" class="flex gap-4 flex-col h-full">
    <ion-item>
      <ion-select [label]="'USER.DETAILS.ROLES' | translate" [formControl]="form.controls.roles" [multiple]="true">
        @for (role of roles(); track role) {
          <ion-select-option [value]="role">{{ ("USER.ROLES." + (role | snakecase)) |translate }}</ion-select-option>
        }
      </ion-select>
    </ion-item>
    <ion-button translate size="full" (click)="save()">GLOBAL.SAVE</ion-button>
  </form>
</ion-content>
