<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'USER.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @for (user of users(); track user.id) {
      <ion-item-sliding>
        <ion-item (click)="ChangeUserRole(user)">
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
          </ion-avatar>
          <ion-label>
            <h2>{{ user.email }}</h2>
            <p>{{ user.roles }}</p>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="DeleteUser(user)" color="danger">{{ 'USER.SLIDE_ACTION_REMOVE_USER' | translate }}
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    }
  </ion-list>
</ion-content>
