<ion-nav [root]="root"></ion-nav>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'PRODUCTS.EDITOR.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (product()?.publicUrl) {
  <div class="m-4 flex w-full justify-center">
    <ion-thumbnail>
      <img [src]="product()!.publicUrl" />
    </ion-thumbnail>
  </div>
  }
  <form [formGroup]="form">
    <ion-item>
      <ion-input
        [formControl]="form.controls.name"
        label="{{ 'PRODUCTS.EDITOR.NAME_LABEL' | translate}}"
        label-placement="stacked" />
    </ion-item>
    <ion-item>
      <ion-input
        type="number"
        [formControl]="form.controls.price"
        label="{{ 'PRODUCTS.EDITOR.PRICE_LABEL' | translate}}"
        label-placement="stacked" />
    </ion-item>
    <ion-item>
      <ion-input
        type="number"
        [formControl]="form.controls.quantity"
        label="{{ 'PRODUCTS.EDITOR.QUANTITY_LABEL' | translate}}"
        label-placement="stacked" />
    </ion-item>
    <ion-item>
      <ion-input
        [formControl]="form.controls.description"
        label="{{ 'PRODUCTS.EDITOR.DESCRIPTION_LABEL' | translate}}"
        label-placement="stacked" />
    </ion-item>

    <div class="flex flex-col gap-4">
      <ion-button type="submit" (click)="save()" size="full">
        {{ 'PRODUCTS.EDITOR.SAVE_BUTTON' | translate }}
      </ion-button>
      @if (product()) {
      <ion-button (click)="input.click()" size="full"> {{ 'PRODUCTS.EDITOR.ADD_IMAGE' | translate }}</ion-button>
      @if (product()?.publicUrl) {
      <ion-button [mode]="" (click)="deleteProductImage.mutateAsync(product()!)" size="full">
        {{ 'PRODUCTS.EDITOR.DELETE_IMAGE' | translate }}
      </ion-button>
      }
      <ion-button (click)="delete()" color="danger" size="full">
        {{ 'PRODUCTS.EDITOR.DELETE_BUTTON' | translate }}
      </ion-button>
      }
      <br />
    </div>
    <input #input type="file" (change)="addFile(input)" multiple class="hidden" />
  </form>
</ion-content>
