<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'PRODUCTS.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'PRODUCTS.TITLE' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    @if (products().isLoading) { @for (item of Array(5); track item) {
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    } } @if (products().data; as products) { @for (product of products; track product.id) {
    <ion-item-sliding>
      <ion-item [routerLink]="getRouterLink(product.id)">
        <ion-thumbnail slot="start">
          @if (product.publicUrl) {
          <img [src]="product.publicUrl" alt="product image" />
          } @else {
          <ion-icon name="beer" style="font-size: 50px; vertical-align: middle; horiz-align: center" />
          }
        </ion-thumbnail>
        <ion-label>
          <ion-text>{{ product.name }}</ion-text>
          <br />
          <ion-note style="font-size: small">{{ product.description }}</ion-note>
        </ion-label>
        <ion-label slot="end" style="font-size: large">{{ product.price }} €</ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="slideActionBuy(product)" color="medium"
          >{{ 'PRODUCTS.SLIDE_ACTION_BUY' | translate }}
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    } }
  </ion-list>
</ion-content>
