<ion-header>
  <ion-toolbar>
    @if (balance().isLoading) {
    <ion-title>{{ 'PRODUCTS.TITLE' | translate }}</ion-title>
    } @if (balance().data; as balance) {
    <ion-title>{{ 'PRODUCTS.TITLE_WITH_BALANCE' | translate : balance }}</ion-title>
    }
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      @if (balance().isLoading) {
      <ion-title size="large">{{ 'PRODUCTS.TITLE' | translate }}</ion-title>
      } @if (balance().data; as balance) {
      <ion-title size="large">{{ 'PRODUCTS.TITLE_WITH_BALANCE' | translate : balance }}</ion-title>
      }
    </ion-toolbar>
  </ion-header>
  <ion-refresher (ionRefresh)="update($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    @if (products().isLoading) { @for (item of Array(5); track item) {
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    } } @if (products().data; as products) { @for (product of products; track product.id) {
    <ion-item-sliding>
      <ion-item [routerLink]="getRouterLink(product.id)">
        <ion-thumbnail slot="start">
          @if (product.publicUrl) {
          <img [src]="product.publicUrl" alt="product image" />
          } @else {
          <ion-icon name="beer" style="font-size: 50px; vertical-align: middle; horiz-align: center" />
          }
        </ion-thumbnail>
        <ion-label class="flex flex-col">
          <ion-text>{{ product.name }}</ion-text>
          @if (product.description) {
          <br />
          <ion-note style="font-size: small">{{ product.description }}</ion-note>
          }
          <br />
          <ion-note style="font-size: small">{{ "PRODUCTS.QUANTITY" | translate : product }}</ion-note>
        </ion-label>
        <ion-label slot="end" style="font-size: large">{{ product.price }} €</ion-label>
      </ion-item>

      @if (balance().data; as balance) {
      <ion-item-options side="end">
        <ion-item-option
          [disabled]="(balance?.amount ?? 0) < product.price || (product.quantity === 0)"
          (click)="onBuyProduct(product)"
          color="medium"
          >{{ 'PRODUCTS.SLIDE_ACTION_BUY' | translate }}
        </ion-item-option>
      </ion-item-options>
      }
    </ion-item-sliding>
    } }
  </ion-list>
  @if (userContext.hasRoles([UserRole.Admin])) {
  <ion-fab horizontal="end" slot="fixed" vertical="bottom">
    <ion-fab-button routerLink="create">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  }
</ion-content>
