<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'ACCOUNT.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-input label="{{ 'ACCOUNT.EMAIL_LABEL' | translate }}" label-placement="stacked" type="email" name="email"
                 [(ngModel)]="email"
                 readonly></ion-input>
    </ion-item>
  </form>

  <div class="ion-text-center">
    <ion-button fill="clear" (click)="signOut()">{{ 'ACCOUNT.LOGOUT_BUTTON' | translate }}</ion-button>
  </div>
</ion-content>
