<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'ACCOUNT.BALANCE' | translate : balance() }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'ACCOUNT.BALANCE' | translate : balance() }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="flex flex-col">
    <ion-button color="danger" size="full" translate>ACCOUNT.DELETE</ion-button>
    <ion-button size="full" (click)="signOut()">{{ 'ACCOUNT.LOGOUT_BUTTON' | translate }}</ion-button>
  </div>
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button routerLink="add-balance">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
