<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="login" slot="start"></ion-back-button>
    <ion-title translate>SIGN_UP.CREATE_ACCOUNT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h1>BevMan</h1>
    <p translate>SIGN_UP.CREATE_ACCOUNT</p>
  </div>
  <ion-list inset="true">
    <form (ngSubmit)="handleSignup($event)">
      <ion-item>
        <ion-label position="stacked" translate>SIGN_UP.EMAIL</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" autocomplete></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" translate>SIGN_UP.PASSWORD</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" autocomplete="new-password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" translate>SIGN_UP.PASSWORD_CONFIRM</ion-label>
        <ion-input
          type="password"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          autocomplete="new-password"></ion-input>
      </ion-item>
      <ion-item *ngIf="password !== confirmPassword && confirmPassword !== ''">
        <ion-label color="danger" translate>SIGN_UP.ERROR.PASSWORD_MISMATCH</ion-label>
      </ion-item>

      <div class="ion-text-center">
        <ion-button type="submit" fill="clear">{{ "SIGN_UP.SIGN_UP" |translate }}</ion-button>
      </div>
    </form>
  </ion-list>
</ion-content>
