<ion-nav [root]="root"></ion-nav>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'PRODUCTS.EDITOR.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="form">
    <ion-item>
      <ion-input label="{{ 'PRODUCTS.EDITOR.NAME_LABEL' | translate}}" label-placement="stacked"
                 [formControl]="form.controls.name"/>
    </ion-item>
    <ion-item>
      <ion-input label="{{ 'PRODUCTS.EDITOR.PRICE_LABEL' | translate}}" label-placement="stacked"
                 [formControl]="form.controls.price"/>
    </ion-item>
    <ion-item>
      <ion-input label="{{ 'PRODUCTS.EDITOR.QUANTITY_LABEL' | translate}}" label-placement="stacked"
                 [formControl]="form.controls.quantity"/>
    </ion-item>
    <ion-item>
      <ion-input label="{{ 'PRODUCTS.EDITOR.DESCRIPTION_LABEL' | translate}}" label-placement="stacked"
                 [formControl]="form.controls.description"/>
    </ion-item>

    <div class="ion-text-center">
      <ion-button (click)="save()" type="submit" fill="clear">Speichern</ion-button>
    </div>
  </form>
</ion-content>
