<ion-nav [root]="root"></ion-nav>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'PRODUCTS.EDITOR.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="form">
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input [formControl]="form.controls.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <div class="ion-text-center">
      <ion-button (click)="save()" type="submit" fill="clear">Speichern</ion-button>
    </div>
  </form>
</ion-content>
