<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="flex justify-between">
        <div>{{ 'ACCOUNT.TITLE' | translate }}</div>
        <ion-avatar id="user-profile-desktop" class="h-8 w-8">
          @if (user().data; as user) {
          <img
            [src]="user?.avatarUrl ? user.avatarUrl : 'https://ionicframework.com/docs/img/demos/avatar.svg'"
            alt="" />
          } @else {
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          }
        </ion-avatar>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'ACCOUNT.TITLE' | translate }}</ion-title>
      @if (user().isLoading) {
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      }
      <ion-avatar id="user-profile" slot="end">
        @if (user().data; as user) {
        <img [src]="user?.avatarUrl ? user.avatarUrl : 'https://ionicframework.com/docs/img/demos/avatar.svg'" alt="" />
        } @else {
        <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        }
      </ion-avatar>
    </ion-toolbar>
  </ion-header>
  <ion-refresher (ionRefresh)="update($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @if (balance().isLoading) {
  <ion-skeleton-text [animated]="true"></ion-skeleton-text>
  } @if (balance().data; as balance) {
  <div class="flex flex-col gap-4">
    <ion-text>
      <h1>{{ 'ACCOUNT.BALANCE' | translate : balance }}</h1>
    </ion-text>
    <ion-button routerLink="add-balance" size="full" translate>ACCOUNT.ADD_BALANCE</ion-button>
  </div>
  }
  <ion-action-sheet
    [buttons]="accountButtons"
    [header]="'ACCOUNT.ACTIONS' | translate"
    trigger="user-profile"></ion-action-sheet>
  <ion-action-sheet
    [buttons]="accountButtons"
    [header]="'ACCOUNT.ACTIONS' | translate"
    trigger="user-profile-desktop"></ion-action-sheet>
  <input #fileInput type="file" (change)="pickFile(fileInput)" class="hidden" />
</ion-content>
<ion-footer>
  <ion-item>
    <ion-select [(ngModel)]="language" (ngModelChange)="changeLanguage($event)">
      @for (language of lanuageOptions; track language) {
      <ion-select-option [value]="language.value">{{ language.text }}</ion-select-option>
      }
    </ion-select>
  </ion-item>
</ion-footer>
