<ion-header>
  <ion-toolbar>
    @if (balance().isLoading) {
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    } @if (balance().data; as balance) {
    <ion-title>{{ 'ACCOUNT.BALANCE' | translate : balance }}</ion-title>
    }
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      @if (balance().isLoading) {
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      } @if (balance().data; as balance) {
      <ion-title size="large">{{ 'ACCOUNT.BALANCE' | translate : balance }}</ion-title>
      }
    </ion-toolbar>
  </ion-header>
  <div class="flex flex-col">
    <ion-button id="delete-account" color="danger" size="full" translate>ACCOUNT.DELETE</ion-button>
    <ion-button (click)="signOut()" size="full">{{ 'ACCOUNT.LOGOUT_BUTTON' | translate }}</ion-button>
  </div>
  <ion-action-sheet
    [buttons]="deleteAccountButtons"
    [header]="'ACCOUNT.DELETE' | translate"
    trigger="delete-account"></ion-action-sheet>
  <ion-fab horizontal="end" slot="fixed" vertical="bottom">
    <ion-fab-button routerLink="add-balance">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
